body  #dining-node-form, body #culture-node-form, body #shopping-node-form, body #services-node-form, body #hotels-node-form, body #nightlife-node-form{
line-height: 1.3em;
font: none !important;
font-family: Arial;
font-size: .9em !important;

/*font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;*/
}
input, textarea{
    border: 1px solid #000000;
}
#block-user-login{ 
display:none;
}

tr td:last-child {
    border-right: 0px solid #BEBFB9 !important;
}

.node-form a, .node-form a:link, .node-form a:active,.node-form a:visited{
font-weight: bold;
text-decoration: none;
color: #578533;
}

.node-form h1{
font-size: 1.3em !important;
}


#markup_div{
    float: left;
    position: absolute;
    margin-top: -150px;
    padding-left: 5px;
}

#markup_div #header{
    font-family: Arial;
}

#page{
    padding: 0 !important;
}

.location-wrapper{
    margin: 30px;
}
.fieldset-legend a:link{
    color: #578533;
}
.node-form .fieldset-wrapper .form-item{
    display: block;
}
.node-form .fieldset-wrapper div.description{
    padding-left: 156px;
}
.node-form .fieldset-wrapper .form-select{
    margin-top: 0px;

}
.fieldset-wrapper{
    margin-top: 10px;
    background-color: #eee;
    padding: 15px;
}

#markup_div #header h1  a{
    font-size: 18px;
}

#markup_div .navlinks ul li  a{
    font-size: 14px;
}

#markup_day_hour > label,#markup_day_hschedules > label, .field-type-list-text > div > label,
.field-type-taxonomy-term-reference > div > label, .form-type-textarea > label, .field-type-text > div > label
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-select{
    margin-top: 20px;
}
.node-form input[type=text], .form-select
{
    height: 28px;
    border: 1px solid #d4d5d5;
    font: 85% "Helvetica neue roman";
    display: inline-block;
    padding-left: 10px;
}
.node-form input[type=submit], .node-form .form-item .clearfix .image-widget-data input[type=submit]{
    height: 31px;
    width: 102px;
    background: url("../img/buttons-bg.png") no-repeat;
    font: 18px "Din bold";
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    border: none;
    margin-left: 10px;
}

.node-form div.description
{
    padding-left: 0px;
    font-size: 10px;
}
.node-form .field-widget-image-image div.description{
    padding-left: 20px;
    display: inline-block;
}

.node-form  .form-actions {
    margin-bottom: 3em;
    margin-top: 5em;
    margin-left: 3em;
}
#edit-submit{
    margin-right: 30px;
}
#edit-field-logo-und-0-ajax-wrapper div.description{
    float: none;
    position: relative;
    margin: 0;
}

#help p {
    margin: 0 0 -19px !important;
    font-size: 10px;
    float:left;
    position:absolute;
}

#help{
    margin-left: 238px;
}
 
#branding {
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    background-color: #EAEAEA !IMPORTANT;
    width: 1094px;
    height: 37px;
    border: solid 1px #777;
    left: 56px;
    margin-top: 162px;
    margin-left: 5px;
    font-family: Arial;
}

#branding h1.page-title {
    padding-left: 10px;
    padding-top: 9px;
    font-weight: bold !important;
    font-size: 1.2em !important;
}


.node-form .form-item{
    margin-left: 36px;
    display: inline-block;
    margin-bottom: 0px;
}


.node-form .form-item label{
    width: 156px;
}

.node-form .form-item th label{
    width: 200px;
    padding-bottom: 20px;

}

.node-form label
{
    display: inline-block;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    color: #578533;
}

#edit-body-und-0-value{
    height: 81px;
    width: 576px;
}
.form-item-body-und-0-value{
    width: 576px;
}

.vertical-tabs,#edit-field-sid,#edit-body-und-0-format{
    display:none;
}

	#edit-field-payment-options .form-checkboxes {
    overflow: hidden;
    height: auto !important;
    width: 316px !important;

    }
	
	#edit-field-payment-options .form-item label.option {
    display: block;
    font-weight: normal;
    line-height: 11px;
    font-family: Arial !important;
    font-size: 13px;
	}

	#edit-field-payment-options .form-checkboxes div {
	margin-left: 20px;
	float: left;
	width: 95px;
	}
	


	#edit-field-cuisine-term .form-checkboxes, #edit-field-shopping-category .form-checkboxes  , #edit-field-category .form-checkboxes{
	overflow: hidden;
	height: auto !important;
	width: 520px !important;
	}
	
	#edit-field-cuisine-term .form-item label.option,  #edit-field-shopping-category .form-item label.option ,  #edit-field-category .form-item label.option {
		display: block;
		font-weight: normal;
		line-height: 17px;
		font-family: Arial !important;
		font-size: 13px;
	}

	
	#edit-field-cuisine-term .form-checkboxes div , #edit-field-shopping-category .form-checkboxes div , #edit-field-category .form-checkboxes div {
	margin-left: 29px;
	float: left;
	width: 142px;
	margin-top: 10px;
	}
	/******************************************************/
	

		#edit-field-dining-offer .form-checkboxes , #edit-field-shopping-offer .form-checkboxes , #edit-field-culture-offer .form-checkboxes{
		overflow: hidden;
		height: auto !important;
		width: 400px !important;
		}
		
		#edit-field-dining-offer .form-item label.option , #edit-field-shopping-offer .form-item label.option , #edit-field-culture-offer .form-item label.option {
			display: block;
			font-weight: normal;
			line-height: 17px;
			font-family: Arial !important;
			font-size: 13px;
		}

		
		#edit-field-dining-offer .form-checkboxes div , #edit-field-shopping-offer .form-checkboxes div , #edit-field-culture-offer .form-checkboxes div{
		margin-left: 29px;
		float: left;
		width: 142px;
		margin-top: 10px;
		font-size: 13px;
		}
	/******************************************************/

	
#edit-field-cuisine-term input,#edit-field-payment-options input, #edit-field-dining-offer  input, #edit-field-shopping-offer  input, #edit-field-shopping-category input,
#edit-field-category  input,#edit-field-culture-offer input{
float: right;
}


#edit-field-neighborhood label, #edit-field-price-point label{
float:left;
width: 150px !important;
}

#edit-field-neighborhood #edit-field-neighborhood-und,   #edit-field-price-point #edit-field-price-point-und{
float:left;
}

#edit-field-logo-und-0-upload{
border: none;
}

.vertical-tabs,#edit-field-sid,#edit-body-und-0-format{
display:none;
}

.image-widget, #edit-field-logo-und-0-ajax-wrapper label {
float:left;
}
#edit-field-logo-und-0-ajax-wrapper label {
width: 148px !important;
}


#img2{
padding-left: 120px;
}
#img3{
padding-left: 100px;
}

#console{
position: absolute;
margin-top: -211px !important; 
}
 #console ul li{
float:left;
position:relative;
margin-left: 31px;
}
#console div.error{
height:40px;
}
 
.form-item-title{
    margin-top: 30px;
}

/* NODE TYPE LIST */

.node-type-list {
    margin:0 0 24px 48px;
    min-width:616px;
    max-width:900px;
}

.node-type-list dd{
    display: none;
}

.node-type-list dt{
    margin-bottom: 8px;
}

.node-type-list dt a{
    font-size: 20px;
    list-style: disc;
}

.node-type-list a, .node-type-list a:link, .node-type-list a:active,.node-type-list a:visited{
    color: #578533;
}

.field-name-field-shops-at-yale-icon-, .location-wrapper{
    display: none;
}

#field-days-and-hours-values .form-wrapper{
    display: inline-block;
    padding-left: 20px;
}

#field-days-and-hours-add-more-wrapper .form-item, #field-days-and-meals-schedules-add-more-wrapper .form-item{
    width: 80%;
}

#field-days-and-hours-values .form-wrapper .text-full.form-text{
    width: 99px;
}

.node-form .field-name-field-days-and-hours input[type=submit], .node-form .field-name-field-days-and-meals-schedules input[type=submit]{
    background-image: none;
    background-color:#578533 ;
    margin-left: 0px;
}

.node-form .form-item .clearfix input[type=submit]{
    width: 200px;
}



.field-name-field-days-and-hours td, .field-name-field-days-and-meals-schedules td{
    padding: 0px 0px 0px 20px;
}

#field-days-and-hours-values, #field-days-and-meals-schedules-values{
    width: 100%;
}


.field-multiple-table .form-item {
    margin-left: 0px;
}

.tabledrag-toggle-weight-wrapper{
    display: none;
}

.field-name-field-days-and-hours{
    margin-top: 20px ;
}

.node-form h2 {
    color:#578533;
    font:60px "Helvetica neue light";
    word-spacing:-10px;
    margin-bottom:26px;
    margin-top: 0px;
}